body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.contianer {
  width: 960px;
  margin: 20px auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
